<style>
* {
	box-sizing: border-box;
}

body {
	font-family: "Times New Roman", Times, serif;
}

/* Style the header */
header {
	background-color: white;
	padding: 30px;
	text-align: left;
	font-size: 64px;
	color: black;
}

header image {
	float: left;
}
/* Container for flexboxes */
section {

}

/* Style the navigation menu */
nav {
	width: 250px;
	float: left;
	font-size: 16px;
	border-right: 2px solid black;
	height: 500px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  background-color: white;
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

nav li{
	display: block;
	
}

nav li:hover {
  background-color: lightgrey;
  color: black;
}

/* Style the content */
article {
	margin-left: 250px;
    padding: 1em;
    overflow: hidden;
}

/* Style the footer */
footer {
	background-color: #666;
	padding: 10px;
	text-align: right;
	color: black;
}

</style>